/* - - - - - - - - - - - - - - - -  */
/* select farm page styles */
.card--select-farm {
    margin: 15px ;
    padding-top: 15px;
    /* padding-bottom: 15px; */
}
/* .bg {
    background-image: linear-gradient(-90deg, #62CD4D, #A0E557);
} */
